body {
  font-family: Verdana;
  /* make font size 200% */
  font-size: 2em;
}

#countLabel {
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: Helvetica;
}

.firstNotes {
  display: block;
  text-align: center;
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: rgb(152, 152, 234);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover {
  background-color: blue;
}
